.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Icon
*.gdoc
*.gsheet
*.gslide
Uppsala Talk.pptx
Docs
Phenotypic Integration Methods Review.gsheet
relevant PDFs on sexual selection in barn swallows
PDFs on Phenotypic Integration
